@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --violet-blue: #3F51B5;
    --ash-gray: #9BC1BC;
    --alabaster: #E6EBE0;
    --lemon-chiffon: #F4F1BB; 
    --yinmn-blue: #4D6185;

    --noto: "Noto Sans Mono";
    --sans: "Open Sans"
}

body, html {
    font-family: "Noto Sans Mono", Arial, sans-serif;
    background-color: var(--alabaster);
    scroll-behavior: smooth;
}

main {
    padding-top: 95px;
}

.container {
    width: 100%;
    padding: 5px 25px;
}

.flex {
    display: flex;
    align-items: center;
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 95px;
    background-color: var(--violet-blue);
}

header a {
    color: var(--alabaster);
    text-decoration: none;
}

header > .container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    gap: 45px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a:hover {
    color: var(--ash-gray);
}

#contact {
    border: 0px, solid, var(--alabaster);
    background-color: var(--alabaster);
    border-radius: 99px;
    padding: 15px;
    color: var(--violet-blue);
    font: normal 900 1.2em Arial;
}

#contact:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#about-me {
    background-color: var(--alabaster);
    height: 600px;
}

#about-me h2 > span {
    font: normal 400 1em var(--sans);
}

#about-me h2 {
    font: normal bolder 2em var(--noto);
    margin-bottom: 10px;
}

#about-me p {
    font: normal lighter 1em var(--sans);
    text-align: justify;
    line-height: 1.5em;
}

#about-me .content {
    margin: 0px 10px 0px 10px;
    width: 50%;
}

#about-me > .flex {
    justify-content: space-around;
}

#about-me picture {
    justify-content: center;
    margin-top: 50px;
    margin-right: 70px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#about-me picture img {
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#skills {
    background-color: var(--ash-gray);
    height: 600px;
}

#skills .technologies {
    background-color: var(--yinmn-blue);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 20px 0px;
    width: 600px;
    height: 550px;
}

.fa-brands {
    color: var(--alabaster);
    font-size: 55px;
}

#skills h2 {
    font: normal bold 1.5em var(--noto);
    margin: 10px;
    text-align: center;
    color: var(--alabaster);
}

#skills ul {
    margin: 40px 20px;
}

#skills ul li {
    list-style: none;
    margin-bottom: 20px;
}